@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vmdfak');
  src:  url('fonts/icomoon.eot?vmdfak#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vmdfak') format('truetype'),
    url('fonts/icomoon.woff?vmdfak') format('woff'),
    url('fonts/icomoon.svg?vmdfak#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-error:before {
  content: "\e900";
}
.icon-error_outline:before {
  content: "\e901";
}
.icon-warning:before {
  content: "\e902";
}
.icon-add_alert:before {
  content: "\e903";
}
.icon-notification_important:before {
  content: "\e904";
}
.icon-av_timer:before {
  content: "\e905";
}
.icon-loop:before {
  content: "\e906";
}
.icon-not_interested:before {
  content: "\e907";
}
.icon-call:before {
  content: "\e908";
}
.icon-chat:before {
  content: "\e909";
}
.icon-comment:before {
  content: "\e90a";
}
.icon-email:before {
  content: "\e944";
}
.icon-message:before {
  content: "\e90b";
}
.icon-chat_bubble:before {
  content: "\e90c";
}
.icon-chat_bubble_outline:before {
  content: "\e90d";
}
.icon-contact_phone:before {
  content: "\e9a7";
}
.icon-contact_mail:before {
  content: "\e9a8";
}
.icon-vpn_key:before {
  content: "\e9a9";
}
.icon-mail_outline:before {
  content: "\e9aa";
}
.icon-alternate_email:before {
  content: "\e90e";
}
.icon-unsubscribe:before {
  content: "\e998";
}
.icon-lightbulb:before {
  content: "\e945";
}
.icon-add:before {
  content: "\e946";
}
.icon-add_box:before {
  content: "\e947";
}
.icon-add_circle:before {
  content: "\e948";
}
.icon-add_circle_outline:before {
  content: "\e949";
}
.icon-backspace:before {
  content: "\e94a";
}
.icon-block:before {
  content: "\e94b";
}
.icon-clear:before {
  content: "\e94c";
}
.icon-content_copy:before {
  content: "\e90f";
}
.icon-content_cut:before {
  content: "\e999";
}
.icon-content_paste:before {
  content: "\e99a";
}
.icon-create:before {
  content: "\e99b";
}
.icon-drafts:before {
  content: "\e94d";
}
.icon-forward:before {
  content: "\e94e";
}
.icon-link:before {
  content: "\e910";
}
.icon-redo:before {
  content: "\e94f";
}
.icon-remove1:before {
  content: "\e950";
}
.icon-remove_circle:before {
  content: "\e951";
}
.icon-remove_circle_outline:before {
  content: "\e952";
}
.icon-reply:before {
  content: "\e99c";
}
.icon-reply_all:before {
  content: "\e99d";
}
.icon-report:before {
  content: "\e953";
}
.icon-send1:before {
  content: "\e954";
}
.icon-undo:before {
  content: "\e955";
}
.icon-save_alt:before {
  content: "\e956";
}
.icon-where_to_vote:before {
  content: "\e957";
}
.icon-access_alarm:before {
  content: "\e958";
}
.icon-access_alarms:before {
  content: "\e959";
}
.icon-access_time:before {
  content: "\e95a";
}
.icon-add_alarm:before {
  content: "\e95b";
}
.icon-attach_file:before {
  content: "\e911";
}
.icon-border_color:before {
  content: "\e99e";
}
.icon-format_quote:before {
  content: "\e95c";
}
.icon-drag_handle:before {
  content: "\e95d";
}
.icon-bar_chart:before {
  content: "\e95e";
}
.icon-notes:before {
  content: "\e95f";
}
.icon-attachment:before {
  content: "\e912";
}
.icon-cloud_done:before {
  content: "\e913";
}
.icon-cloud_download:before {
  content: "\e914";
}
.icon-cloud_off:before {
  content: "\e960";
}
.icon-cloud_queue:before {
  content: "\e961";
}
.icon-cloud_upload:before {
  content: "\e962";
}
.icon-file_download:before {
  content: "\e963";
}
.icon-file_upload:before {
  content: "\e964";
}
.icon-folder:before {
  content: "\e965";
}
.icon-folder_open:before {
  content: "\e966";
}
.icon-desktop_windows:before {
  content: "\e967";
}
.icon-keyboard_arrow_down:before {
  content: "\e915";
}
.icon-keyboard_arrow_left:before {
  content: "\e916";
}
.icon-keyboard_arrow_right:before {
  content: "\e917";
}
.icon-keyboard_arrow_up:before {
  content: "\e918";
}
.icon-keyboard_backspace:before {
  content: "\e919";
}
.icon-laptop_chromebook:before {
  content: "\e968";
}
.icon-laptop_mac:before {
  content: "\e969";
}
.icon-laptop_windows:before {
  content: "\e96a";
}
.icon-phone_android:before {
  content: "\e96b";
}
.icon-phone_iphone:before {
  content: "\e96c";
}
.icon-security:before {
  content: "\e91a";
}
.icon-tablet:before {
  content: "\e96d";
}
.icon-tablet_android:before {
  content: "\e96e";
}
.icon-tablet_mac:before {
  content: "\e96f";
}
.icon-tv:before {
  content: "\e970";
}
.icon-device_unknown:before {
  content: "\e971";
}
.icon-collections:before {
  content: "\e91b";
}
.icon-navigate_before:before {
  content: "\e972";
}
.icon-navigate_next:before {
  content: "\e973";
}
.icon-arrow_back:before {
  content: "\e91c";
}
.icon-arrow_drop_down_circle:before {
  content: "\e974";
}
.icon-arrow_drop_up:before {
  content: "\e99f";
}
.icon-arrow_forward:before {
  content: "\e91d";
}
.icon-cancel:before {
  content: "\e975";
}
.icon-check:before {
  content: "\e91e";
}
.icon-expand_less:before {
  content: "\e9a0";
}
.icon-expand_more:before {
  content: "\e9a1";
}
.icon-keyboard_control:before {
  content: "\e91f";
}
.icon-more_vert:before {
  content: "\e920";
}
.icon-refresh:before {
  content: "\e976";
}
.icon-arrow_upward:before {
  content: "\e921";
}
.icon-arrow_downward:before {
  content: "\e922";
}
.icon-arrow_left:before {
  content: "\e923";
}
.icon-arrow_right:before {
  content: "\e924";
}
.icon-arrow_back_ios:before {
  content: "\e925";
}
.icon-arrow_forward_ios:before {
  content: "\e926";
}
.icon-do_not_disturb_alt:before {
  content: "\e977";
}
.icon-event_available:before {
  content: "\e978";
}
.icon-event_busy:before {
  content: "\e979";
}
.icon-event_note:before {
  content: "\e97a";
}
.icon-priority_high:before {
  content: "\e97b";
}
.icon-group1:before {
  content: "\e9ab";
}
.icon-notifications:before {
  content: "\e97c";
}
.icon-notifications_none:before {
  content: "\e97d";
}
.icon-notifications_off:before {
  content: "\e97e";
}
.icon-notifications_active:before {
  content: "\e97f";
}
.icon-notifications_paused:before {
  content: "\e980";
}
.icon-people_outline:before {
  content: "\e9a2";
}
.icon-person:before {
  content: "\e927";
}
.icon-person_add:before {
  content: "\e9a3";
}
.icon-person_outline:before {
  content: "\e9a4";
}
.icon-share:before {
  content: "\e928";
}
.icon-check_box:before {
  content: "\e9a5";
}
.icon-radio_button_checked:before {
  content: "\e9a6";
}
.icon-account_balance:before {
  content: "\e9ac";
}
.icon-account_circle:before {
  content: "\e929";
}
.icon-announcement:before {
  content: "\e92a";
}
.icon-assignment:before {
  content: "\e92b";
}
.icon-autorenew:before {
  content: "\e92c";
}
.icon-build:before {
  content: "\e981";
}
.icon-cached:before {
  content: "\e92d";
}
.icon-check_circle:before {
  content: "\e92e";
}
.icon-credit_card:before {
  content: "\e92f";
}
.icon-delete:before {
  content: "\e930";
}
.icon-done:before {
  content: "\e931";
}
.icon-done_all:before {
  content: "\e932";
}
.icon-help:before {
  content: "\e982";
}
.icon-highlight_remove:before {
  content: "\e933";
}
.icon-history:before {
  content: "\e934";
}
.icon-hourglass_empty:before {
  content: "\e935";
}
.icon-hourglass_full:before {
  content: "\e936";
}
.icon-info:before {
  content: "\e983";
}
.icon-info_outline:before {
  content: "\e984";
}
.icon-redeem:before {
  content: "\e937";
}
.icon-settings:before {
  content: "\e938";
}
.icon-trending_down:before {
  content: "\e985";
}
.icon-trending_neutral:before {
  content: "\e986";
}
.icon-trending_up:before {
  content: "\e987";
}
.icon-verified_user:before {
  content: "\e939";
}
.icon-visibility_off:before {
  content: "\e988";
}
.icon-help_outline:before {
  content: "\e989";
}
.icon-zoom_in:before {
  content: "\e98a";
}
.icon-zoom_out:before {
  content: "\e98b";
}
.icon-offline_pin:before {
  content: "\e93a";
}
.icon-copyright:before {
  content: "\e98c";
}
.icon-update:before {
  content: "\e93b";
}
.icon-watch_later:before {
  content: "\e93c";
}
.icon-check_circle_outline:before {
  content: "\e98d";
}
.icon-delete_outline:before {
  content: "\e93d";
}
.icon-swap_horizontal_circle:before {
  content: "\e98e";
}
.icon-supervised_user_circle:before {
  content: "\e9ad";
}
.icon-bookmarks:before {
  content: "\e93e";
}
.icon-circle_notifications:before {
  content: "\e93f";
}
.icon-dangerous:before {
  content: "\e98f";
}
.icon-drive_file_rename_outline:before {
  content: "\e990";
}
.icon-library_add_check:before {
  content: "\e991";
}
.icon-logout:before {
  content: "\e992";
}
.icon-margin:before {
  content: "\e9ae";
}
.icon-replay_circle_filled:before {
  content: "\e940";
}
.icon-shield:before {
  content: "\e941";
}
.icon-tag:before {
  content: "\e993";
}
.icon-toggle_off:before {
  content: "\e994";
}
.icon-toggle_on:before {
  content: "\e995";
}
.icon-bolt:before {
  content: "\e996";
}
.icon-emoji_objects:before {
  content: "\e997";
}
.icon-asterisk:before {
  content: "\f069";
}
.icon-plus:before {
  content: "\f067";
}
.icon-question:before {
  content: "\f128";
}
.icon-minus:before {
  content: "\f068";
}
.icon-glass:before {
  content: "\f000";
}
.icon-user:before {
  content: "\f007";
}
.icon-check1:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-eye-slash:before {
  content: "\f070";
}
.icon-twitter-square:before {
  content: "\f081";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-sign-out:before {
  content: "\f08b";
}
.icon-phone-square:before {
  content: "\f098";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-bell-o:before {
  content: "\f0a2";
}
.icon-arrow-circle-left:before {
  content: "\f0a8";
}
.icon-arrow-circle-right:before {
  content: "\f0a9";
}
.icon-arrow-circle-up:before {
  content: "\f0aa";
}
.icon-arrow-circle-down:before {
  content: "\f0ab";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-files-o:before {
  content: "\f0c5";
}
.icon-building-o:before {
  content: "\f0f7";
}
.icon-hospital-o:before {
  content: "\f0f8";
}
.icon-quote-left:before {
  content: "\f10d";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-ellipsis-h:before {
  content: "\f141";
}
.icon-ellipsis-v:before {
  content: "\f142";
}
.icon-check-square:before {
  content: "\f14a";
}
.icon-pencil-square:before {
  content: "\f14b";
}
.icon-external-link-square:before {
  content: "\f14c";
}
.icon-share-square:before {
  content: "\f14d";
}
.icon-dollar:before {
  content: "\f155";
}
.icon-usd:before {
  content: "\f155";
}
.icon-youtube-square:before {
  content: "\f166";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-apple:before {
  content: "\f179";
}
.icon-slack:before {
  content: "\f198";
}
.icon-envelope-square:before {
  content: "\f199";
}
.icon-google:before {
  content: "\f1a0";
}
.icon-paper-plane:before {
  content: "\f1d8";
}
.icon-send:before {
  content: "\f1d8";
}
.icon-paper-plane-o:before {
  content: "\f1d9";
}
.icon-send-o:before {
  content: "\f1d9";
}
.icon-paypal:before {
  content: "\f1ed";
}
.icon-cc-visa:before {
  content: "\f1f0";
}
.icon-cc-mastercard:before {
  content: "\f1f1";
}
.icon-cc-discover:before {
  content: "\f1f2";
}
.icon-cc-amex:before {
  content: "\f1f3";
}
.icon-cc-paypal:before {
  content: "\f1f4";
}
.icon-cc-stripe:before {
  content: "\f1f5";
}
.icon-trash:before {
  content: "\f1f8";
}
.icon-toggle-off:before {
  content: "\f204";
}
.icon-toggle-on:before {
  content: "\f205";
}
.icon-heartbeat:before {
  content: "\f21e";
}
.icon-facebook-official:before {
  content: "\f230";
}
.icon-whatsapp:before {
  content: "\f232";
}
.icon-safari:before {
  content: "\f267";
}
.icon-chrome:before {
  content: "\f268";
}
.icon-firefox:before {
  content: "\f269";
}
.icon-opera:before {
  content: "\f26a";
}
.icon-internet-explorer:before {
  content: "\f26b";
}
.icon-hashtag:before {
  content: "\f292";
}
.icon-user-circle:before {
  content: "\f2bd";
}
.icon-user-circle-o:before {
  content: "\f2be";
}
.icon-user-o:before {
  content: "\f2c0";
}
.icon-hipchat:before {
  content: "\e942";
  color: #0052cc;
}
.icon-instagram:before {
  content: "\e943";
  color: #e4405f;
}
